@using Codelife.Data;
@model Post

@{
    ViewBag.Title = "ArticleById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    <style>
        .back-btn{
            margin-top: 4rem;
        }

        .article-text p {
            margin-bottom: 2rem;
        }

        .article-text h4 {
            color: #6c6ce5;
        }
    </style>
}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 mt-3">
            <h3 class="pb-3 mb-4 text-theme text-bold">
                @Model.title
            </h3>

            <div class="article-text">
                @Html.Raw(Model.text)
            </div>

            <div class="back-btn">
                <a href="@Url.Action("Index", "Home")" class="btn btn-theme">Back To Home</a>
            </div>
        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar mt-3">
            <div class="p-3 mb-3 bg-light rounded">
                <p class="text-theme">Articles Info</p>
                <p class="mb-0"></p>
                <p class="mb-0">Date Published: @Model.createDate</p>
                <p class="mb-0">Last Updated: @Model.updateDate</p>

            </div>

            <div class="p-3">
                <p class="text-theme">Tags</p>
                <p class="mb-0">@Model.tag</p>
            </div>

        </aside>

    </div>

</main>
